@import '../../assets/styles/typography';

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 27px 12px 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}









